* {
  margin: 0;
  padding: 0;
}

.contactbox {
  width: 60px;
  height: 60px;
  background-color: rgb(100, 150, 255);
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
}
.header {
  display: flex;
  margin: 5px;
  background-color: rgb(10, 10, 100);
  justify-content: end;
}

.header_bottom {
  width: auto;
  height: 79px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  position: relative;
}

.nav ul {
  position: absolute;
  width: 300px;
}
.first-menu {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  color: white;
}
.header a {
  color: white;
}
.header_bottom a {
  color: black;
}
a:hover {
  color: rgb(100, 150, 255);
}

.top:nth-child(3) {
  margin-right: 150px;
}
.header img {
  width: 100%;
  flex-direction: center;
}
.header_bottom img {
  width: 80%;
  padding: 20px;
}
.button {
  background-color: blue;
  border-radius: 30% 30%;
  text-align: center;
  width: 70px;
  height: 40px;
  line-height: 40px;
  margin-right: 150px;
  margin-top: 20px;
  align-items: center;
}

.header_bottom:nth-child(2) {
  margin-right: 250px;
  align-items: center;
}

.i2 {
  width: fit-content;
  height: 200px;
  margin: 0px auto;
  margin-top: 75px;
}

.i2 h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.i2 p {
  text-align: center;
  margin-bottom: 30px;
}

/* .top:nth-child(1)::after {
  content: "";
  color: white;
  position: absolute;
  width: 1px;
  height: 10px;
} */

.i3 {
  display: flex;
  flex-wrap: wrap;
  height: 599px;
  width: 1440;
  flex-direction: column;
}

section {
  display: flex;
}
.i3 h3 {
  font-size: 35px;
  margin-left: 80px;
  width: 650px;
}

.i3 ul {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 80px;
}

.i3 p {
  margin-left: 80px;
}

.item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
